@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital@0;1&display=swap');

html {
    scroll-padding-top: 4.25rem; /* matches the header's total height */
}
h1, h2, h3, h4, h5, ul, li {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    list-style: none;
    gap: 0;

}

:root {
    --spacing: .25rem; 
    --primary: #0E0E0E;
    --secondary: #2B2B2B;
    --text-primary: #FFFFFF;
    --text-secondary: #8E8E8E;

    --purple: #7C3AED;
    --blue: #3B82F6;
    --cyan: #06B6D4;
    --red: #A21F2D;
    --green: #06D40D;
    --gray: #8E8E8E;

    --font-lg: 24px;
    --font-md: 18px;
    --font-sm: 12px;
    --font-xs: 8px;
}

body {
    background-color: #0E0E0E;
    margin: 0px;
}

body > header {
    display: flex;
    z-index: 1000;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-right: calc(var(--spacing) * 5);
    padding-left: calc(var(--spacing) * 5);
    padding-top: calc(var(--spacing) * 5);
    padding-bottom: calc(var(--spacing) * 2);
    max-width: calc(var(--spacing) * 360);
    height: calc(var(--spacing) * 10);
    font-size: 12pt;
    background-color: var(--primary);
}

body > header h1 {
    padding-right: calc(var(--spacing) * 3);
    font-size: 20pt;
}

body > header > a {
    display: block;
    height: fit-content;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    width: calc(var(--spacing) * 30);
    border: 0;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
}

body > header div {
    display: flex;
    width: auto;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    flex-direction: row;
    column-gap: calc(var(--spacing) * 2);
}

body > header div a {
    display: block;
    text-align: left;
    width: calc(var(--spacing) * 35);
    padding-left: var(--spacing);
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    border: 0;
    text-decoration: none;
}


main {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 15);
    padding-right: calc(var(--spacing) * 5);
    padding-left: calc(var(--spacing) * 5);
    max-width: calc(var(--spacing) * 360);
}

#hero {
    border: 2px solid var(--secondary);
    color: var(--text-primary);
    width: 100%;
    height: calc(var(--spacing) * 120);
    display: flex;
    flex-direction: row;
    align-items: end;
    background-image: url('assets/images/hero.webp');
    background-position: 0% 30%;
    background-size: 120%;
}

#hero #container {
    position: relative;
    margin-left: calc(var(--spacing) * 8);
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
    align-items: start;
    padding-bottom: calc(var(--spacing) * 8);
}

#hero #container * {
    margin-top: 0;
    margin-bottom: 0;
}

#hero #container #button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(var(--spacing) * 2);
    width: 60%;

    margin-top: 0;
    margin-bottom: 0;
}

#hero #container #button-container button {
    aspect-ratio: 1/1;
    width: 100%;
    background-color: #FFFFFF;
    border: 0;
}

#tech-stack {
    border: 2px solid var(--cyan);
    color: var(--text-primary);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url('assets/images/techstack.webp');
    background-position: 0% 130%;
    background-size: 120%;
}

#tech-stack header {
    padding-left: calc(var(--spacing) * 5);
    width: calc(100% - var(--spacing) * 5);
    height: fit-content;
    font-size: var(--font-lg);

    display: flex;
    flex-direction: column;
    gap: 0;

}

#tech-stack header > *:first-child {
    color: var(--cyan);
    margin-top: calc(var(--spacing) * 4);
    margin-bottom: 0;
}
#tech-stack header p {
    margin-top: 0;
    margin-bottom: calc(var(--spacing) * 4);
}

#tech-stack #content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--secondary);
    width: 100%;
    gap: 1.5px;
}

#tech-stack #content > * {
    background-color: var(--primary);
    padding-top: calc(var(--spacing) * 3);
    padding-bottom: calc(var(--spacing) * 3);
    padding-left: calc(var(--spacing) * 3);
    padding-right: calc(var(--spacing) * 3);
}

#tech-stack #content ul {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
}
#tech-stack #content ul li {
    display: flex;
    gap: calc(var(--spacing) * 5);
    flex-direction: row;
    align-items: center;

    padding-left: calc(var(--spacing)* 2);
    padding-right: calc(var(--spacing)* 2);
    padding-top: calc(var(--spacing)* 1.5);
    padding-bottom: calc(var(--spacing)* 1.5);

    background-color: var(--secondary);
    width: fit-content;
    height: fit-content;
    color: var(--text-primary);
    font-size: var(--font-md);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

#tech-stack #content ul li p {
    margin-top: 0;
    margin-bottom: 0;
}

#title {
    background-color: var(--secondary);
    width: fit-content;
    color: var(--text-primary);
    padding-left: calc(var(--spacing) * 2);
    padding-right: calc(var(--spacing) * 2);
    padding-top: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) * 2);
    margin-bottom: calc(var(--spacing) * 2);
}

#education{
    border: 2px solid var(--red);
    color: var(--text-primary);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#education header {
    padding-left: calc(var(--spacing) * 5);
    width: calc(100% - var(--spacing) * 5);
    height: fit-content;
    font-size: var(--font-lg);
    display: flex;
    flex-direction: column;
    gap: 0;
    background-image: url('assets/images/education.webp');
    background-position: 0% 30%;
    background-size: 100%;
}
#education header > *:first-child {
    color: var(--red);
    margin-top: calc(var(--spacing) * 4);
    margin-bottom: 0;
}
#education header p {
    margin-top: 0;
    margin-bottom: calc(var(--spacing) * 4);
}
#education #content {
    display: grid;
    flex-direction: column;
    gap: 1.5px;
    width: 100%;
    grid-template-columns: 1fr;
    background-color: var(--secondary);
}

#education #content > * {
    background-color: var(--primary);
    height: calc(var(--spacing) * 60);
}

#education #content #binus {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 3fr 4fr;
    column-gap: 1.5px;
    background-color: var(--secondary);
}

#education #content #binus > * {
    background-color: var(--primary);
    padding-top: calc(var(--spacing) * 3);
    padding-bottom: calc(var(--spacing) * 3);
    padding-left: calc(var(--spacing) * 3);
    padding-right: calc(var(--spacing) * 3);
}

#education #content #revou {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 4fr 3fr;
    column-gap: 1.5px;
    background-color: var(--secondary);
}

#education #content #revou > * {
    background-color: var(--primary);
    padding-top: calc(var(--spacing) * 3);
    padding-bottom: calc(var(--spacing) * 3);
    padding-left: calc(var(--spacing) * 3);
    padding-right: calc(var(--spacing) * 3);
}

#projects {
    border: 2px solid var(--blue);
    color: var(--text-primary);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#projects header {
    padding-left: calc(var(--spacing) * 5);
    width: calc(100% - var(--spacing) * 5);
    height: fit-content;
    font-size: var(--font-lg);

    display: flex;
    flex-direction: column;
    gap: 0;
    background-image: url('assets/images/projects.webp');
    background-position: 60% 30%;
    background-size: 130%;

}
#projects header > *:first-child {
    color: var(--blue);
    margin-top: calc(var(--spacing) * 4);
    margin-bottom: 0;
}
#projects header p {
    margin-top: 0;
    margin-bottom: calc(var(--spacing) * 4);
}
#projects #content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5px;
    background-color: var(--secondary);
    width: 100%;
    flex-direction: row;

}
#projects #content > li {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding-left: calc(var(--spacing) * 5);
    padding-right: calc(var(--spacing) * 5);
    padding-top: calc(var(--spacing) * 5);
    padding-bottom: calc(var(--spacing) * 3);
}

#projects #content > li > img {
    width: 100%;
    aspect-ratio: 3/2;
    display: block;
    border: 0;
    background-color: white;
}

#projects #content > li > #button-container {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: var(--spacing);
    justify-content: space-evenly;
}

#projects #content > li > #button-container > * {
    background-color: #FFFFFF;
    color: #000000;
    padding-left: calc(var(--spacing) * 2);
    padding-right: calc(var(--spacing) * 2);
}

#projects #content > li > #button-container > * {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
}

#experiences {
    border: 2px solid var(--green);
    color: var(--text-primary);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#experiences header {
    padding-left: calc(var(--spacing) * 5);
    width: calc(100% - var(--spacing) * 5);
    height: fit-content;
    font-size: var(--font-lg);

    display: flex;
    flex-direction: column;
    gap: 0;
    background-image: url('assets/images/experiences.webp');
    background-position: 0% 70%;
    background-size: 100%;

}
#experiences header > *:first-child {
    color: var(--green);
    margin-top: calc(var(--spacing) * 4);
    margin-bottom: 0;
}
#experiences header p {
    margin-top: 0;
    margin-bottom: calc(var(--spacing) * 4);
}

#experiences #content {
    display: flex;
    gap: 1.5px;
    width: 100%;
    flex-direction: column;
    background-color: var(--secondary);
    gap: 1.5px;
}

#experiences #content li {
    display: grid;
    grid-template-columns: 4fr 6fr;
    height: calc(var(--spacing) * 50);
    gap: 1.5px;
    background-color: var(--secondary);
}

#experiences #content li > * {
    background-color: var(--primary);
    padding-left: calc(var(--spacing) * 5);
    padding-right: calc(var(--spacing) * 5);
    padding-top: calc(var(--spacing) * 5);
    padding-bottom: calc(var(--spacing) * 3);
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--spacing) * 5);
    padding-right: calc(var(--spacing) * 5);
    padding-left: calc(var(--spacing) * 5);
    max-width: calc(var(--spacing) * 360);
    height: 50vh;
}

footer ~ p {
    font-size: 8px;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 5);
}

footer div * {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 0;
    margin-top: 0;
    margin-bottom: 0;
}

footer div a {
    background-color: #FFFFFF;
    padding-left: calc(var(--spacing) * 3);
    padding-right: calc(var(--spacing) * 3);
    color: #000000;
    text-align: center;
    border: 0
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.roboto-condensed-regular {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-white {
    background-color: #FFFFFF;
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.text-lg {
    font-size: var(--font-lg);
}

.text-md {
    font-size: var(--font-md);
}

.text-sm {
    font-size: var(--font-sm);
}

.text-justify {
    text-align: justify;
}

